@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Teko:wght@300..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* font-family: "Teko", serif; */
/* font-family: "Playfair Display", serif; */

.teko{
  font-family: "Teko", serif;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Lexend", serif;
  font-size: 18px;
}
